@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,400&display=swap");

.App {
  padding: 10px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.dataRepresentation {
  padding: 7px;
}

.dataEntry {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  font-size: 18px;
}

a {
  text-decoration: none;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 200px;
}
